!pip install nameparser

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/biocong-cleaned-parse-name.csv')
df

,level,docCount,browsePath,title,lastpage,granuleid,packageid,pdffile,pdf,text,...,committees,url,n_children,uniqid,FirstName,MiddleInitial/Name,LastName,RomanNumeral,Title,Suffix
0,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,The Vice President,1,CDIR-2018-10-29-STATISTICALINFORMATION-2,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-STATISTICA...,pdf/CDIR-2018-10-29-STATISTICALINFORMATION-2.pdf,html/CDIR-2018-10-29-STATISTICALINFORMATION-2.htm,...,NaN,NaN,NaN,1,MIKE,NaN,PENCE,NaN,NaN,NaN
1,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,Alabama State Delegation,6,CDIR-2018-10-29-AL,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL.pdf,pdf/CDIR-2018-10-29-AL.pdf,html/CDIR-2018-10-29-AL.htm,...,Permanent Select Committee on Intelligence;Way...,http://shelby.senate.gov,NaN,2,TERRI,A.,SEWELL,NaN,NaN,NaN
2,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Senator Doug Jones, Biography",2,CDIR-2018-10-29-AL-S-2,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-S-2.pdf,pdf/CDIR-2018-10-29-AL-S-2.pdf,html/CDIR-2018-10-29-AL-S-2.htm,...,"Banking,Housing,and Urban Affairs;Health,Educa...",http://jones.senate.gov,NaN,3,DOUG,NaN,JONES,NaN,NaN,NaN
3,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Senator Richard C. Shelby, Biography",2,CDIR-2018-10-29-AL-S-1,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-S-1.pdf,pdf/CDIR-2018-10-29-AL-S-1.pdf,html/CDIR-2018-10-29-AL-S-1.htm,...,"chair,Appropriations;Banking,Housing,and Urban...",http://shelby.senate.gov,NaN,4,RICHARD,C.,SHELBY,NaN,NaN,NaN
4,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Representative Robert B. Aderholt, Biography",4,CDIR-2018-10-29-AL-H-4,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-H-4.pdf,pdf/CDIR-2018-10-29-AL-H-4.pdf,html/CDIR-2018-10-29-AL-H-4.htm,...,Appropriations;,http://www.aderholt.house.gov,NaN,5,ROBERT,B.,ADERHOLT,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11685,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Representative F. James Sensenbrenner, Jr., Bi...",324,CDIR-1997-06-04-WI-H-9,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WI-H-9.pdf,pdf/CDIR-1997-06-04-WI-H-9.pdf,html/CDIR-1997-06-04-WI-H-9.htm,...,NaN,http://www.house.gov/sensenbrenner,two sons,11686,F.,JAMES,SENSENBRENNER,NaN,NaN,JR.
11686,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,Wyoming State Delegation,325,CDIR-1997-06-04-WY,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY.pdf,pdf/CDIR-1997-06-04-WY.pdf,html/CDIR-1997-06-04-WY.htm,...,"chair,Energy and Mineral Resources;ex officio ...",http://www.senate.gov/thomas,NaN,11687,BARBARA,NaN,CUBIN,NaN,NaN,NaN
11687,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Senator Michael B. Enzi, Biography",325,CDIR-1997-06-04-WY-S-2,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-S-2.pdf,pdf/CDIR-1997-06-04-WY-S-2.pdf,html/CDIR-1997-06-04-WY-S-2.htm,...,"Banking,Housing and Urban Affairs;Labor and Hu...",http://www.senate.gov/enzi,three children,11688,MICHAEL,B.,ENZI,NaN,NaN,NaN
11688,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Senator Craig Thomas, Biography",324,CDIR-1997-06-04-WY-S-1,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-S-1.pdf,pdf/CDIR-1997-06-04-WY-S-1.pdf,html/CDIR-1997-06-04-WY-S-1.htm,...,"chairman,Parks,Historic Preservation and Recre...",http://www.senate.gov/thomas,four children,11689,CRAIG,NaN,THOMAS,NaN,NaN,NaN
11689,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Representative Barbara Cubin, Biography",326,CDIR-1997-06-04-WY-H-0,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-H-0.pdf,pdf/CDIR-1997-06-04-WY-H-0.pdf,html/CDIR-1997-06-04-WY-H-0.htm,...,"chair,Energy and Mineral Resources;ex officio ...",NaN,NaN,11690,BARBARA,NaN,CUBIN,NaN,NaN,NaN

In [3]:
df.columns

Index(['level', 'docCount', 'browsePath', 'title', 'lastpage', 'granuleid',
       'packageid', 'pdffile', 'pdf', 'text', 'agencyLevel', 'nodeStatus',
       'textfile', 'htmlfile', 'browseline1', 'processingcode', 'nodetype',
       'index.1', 'publishdate', 'part', 'forGpo', 'hasChildren', 'hasParents',
       'rootNode', 'documentResults', 'hasDocumentResults', 'collectionCode',
       'searchPath', 'isContentArea', 'pageSize', 'pageNumber', 'count',
       'digitizedFR', 'section', 'firstpage', 'congress', 'biography', 'name',
       'party', 'location', 'born_in', 'birthdate', 'education',
       'professional', 'married', 'children', 'committees', 'url',
       'n_children', 'uniqid', 'FirstName', 'MiddleInitial/Name', 'LastName',
       'RomanNumeral', 'Title', 'Suffix'],
      dtype='object')

In [4]:
df.children

0                   Michael,Charlotte,and Audrey
1                                            NaN
2                                            NaN
3                Richard C.,Jr.,and Claude Nevin
4                  Mary Elliott and Robert Hayes
                          ...
11685            Frank James III and Robert Alan
11686    William (Bill) and Frederick III (Eric)
11687                         Amy,Brad and Emily
11688                Peter,Paul,Lexi and Patrick
11689    William (Bill) and Frederick III (Eric)
Name: children, Length: 11690, dtype: object

In [5]:
import re
from nameparser import HumanName

In [6]:
def split_children(s):
    out = []
    if s is None or pd.isnull(s):
        return pd.Series(dtype=object)
    for n in re.split('\,(?!(?:JR|SR|PHD[^\.]))|and\s+', s, flags=re.I):
        n = n.strip()
        if n != '':
            name = HumanName(n)
            if name.first:
                out.append(name.first)
    if len(out):
        return pd.Series(out)
    else:
        return pd.Series(dtype=object)

In [7]:
ndf = df.children.apply(lambda c: split_children(c))
ndf

               0          1       2        3    4    5    6    7    8    9
0        Michael  Charlotte  Audrey      NaN  NaN  NaN  NaN  NaN  NaN  NaN
1            NaN        NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
2            NaN        NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
3        Richard     Claude     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
4           Mary     Robert     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
...          ...        ...     ...      ...  ...  ...  ...  ...  ...  ...
11685      Frank     Robert     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
11686  Frederick        NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN
11687        Amy       Brad   Emily      NaN  NaN  NaN  NaN  NaN  NaN  NaN
11688      Peter       Paul    Lexi  Patrick  NaN  NaN  NaN  NaN  NaN  NaN
11689  Frederick        NaN     NaN      NaN  NaN  NaN  NaN  NaN  NaN  NaN

[11690 rows x 10 columns]

In [8]:
cols = ['child_name%s' % col for col in ndf.columns]
ndf.columns = cols
ndf

,child_name0,child_name1,child_name2,child_name3,child_name4,child_name5,child_name6,child_name7,child_name8,child_name9
0,Michael,Charlotte,Audrey,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Richard,Claude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mary,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
11685,Frank,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11686,Frederick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11687,Amy,Brad,Emily,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11688,Peter,Paul,Lexi,Patrick,NaN,NaN,NaN,NaN,NaN,NaN
11689,Frederick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
odf = df.join(ndf)
odf

,level,docCount,browsePath,title,lastpage,granuleid,packageid,pdffile,pdf,text,...,child_name0,child_name1,child_name2,child_name3,child_name4,child_name5,child_name6,child_name7,child_name8,child_name9
0,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,The Vice President,1,CDIR-2018-10-29-STATISTICALINFORMATION-2,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-STATISTICA...,pdf/CDIR-2018-10-29-STATISTICALINFORMATION-2.pdf,html/CDIR-2018-10-29-STATISTICALINFORMATION-2.htm,...,Michael,Charlotte,Audrey,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,Alabama State Delegation,6,CDIR-2018-10-29-AL,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL.pdf,pdf/CDIR-2018-10-29-AL.pdf,html/CDIR-2018-10-29-AL.htm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Senator Doug Jones, Biography",2,CDIR-2018-10-29-AL-S-2,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-S-2.pdf,pdf/CDIR-2018-10-29-AL-S-2.pdf,html/CDIR-2018-10-29-AL-S-2.htm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Senator Richard C. Shelby, Biography",2,CDIR-2018-10-29-AL-S-1,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-S-1.pdf,pdf/CDIR-2018-10-29-AL-S-1.pdf,html/CDIR-2018-10-29-AL-S-1.htm,...,Richard,Claude,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,0,115/2018-10-29/CONGRESSMEMBERSTATE,"Representative Robert B. Aderholt, Biography",4,CDIR-2018-10-29-AL-H-4,CDIR-2018-10-29,CDIR-2018-10-29/pdf/CDIR-2018-10-29-AL-H-4.pdf,pdf/CDIR-2018-10-29-AL-H-4.pdf,html/CDIR-2018-10-29-AL-H-4.htm,...,Mary,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11685,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Representative F. James Sensenbrenner, Jr., Bi...",324,CDIR-1997-06-04-WI-H-9,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WI-H-9.pdf,pdf/CDIR-1997-06-04-WI-H-9.pdf,html/CDIR-1997-06-04-WI-H-9.htm,...,Frank,Robert,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11686,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,Wyoming State Delegation,325,CDIR-1997-06-04-WY,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY.pdf,pdf/CDIR-1997-06-04-WY.pdf,html/CDIR-1997-06-04-WY.htm,...,Frederick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11687,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Senator Michael B. Enzi, Biography",325,CDIR-1997-06-04-WY-S-2,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-S-2.pdf,pdf/CDIR-1997-06-04-WY-S-2.pdf,html/CDIR-1997-06-04-WY-S-2.htm,...,Amy,Brad,Emily,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11688,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Senator Craig Thomas, Biography",324,CDIR-1997-06-04-WY-S-1,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-S-1.pdf,pdf/CDIR-1997-06-04-WY-S-1.pdf,html/CDIR-1997-06-04-WY-S-1.htm,...,Peter,Paul,Lexi,Patrick,NaN,NaN,NaN,NaN,NaN,NaN
11689,1,0,105/1997-06-04/CONGRESSMEMBERSTATE,"Representative Barbara Cubin, Biography",326,CDIR-1997-06-04-WY-H-0,CDIR-1997-06-04,CDIR-1997-06-04/pdf/CDIR-1997-06-04-WY-H-0.pdf,pdf/CDIR-1997-06-04-WY-H-0.pdf,html/CDIR-1997-06-04-WY-H-0.htm,...,Frederick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
odf.to_csv('../data/biocong-cleaned-parse-name+children.csv', index=False)

In [11]:
df = pd.read_csv('../data/biocong-text-all-cleaned-parse-name.csv')
df

,congress,textfile,biography,name,party,location,born_in,birthdate,children,professional,...,education,married,n_children,uniqid,FirstName,MiddleInitial/Name,LastName,RomanNumeral,Title,Suffix
0,97,../data/text/97.txt,"GEORGE HERBERT WALKER BUSH, Republican, of Hou...",GEORGE HERBERT WALKER BUSH,Republican,"Houston, Tex. 43d Vice President of the Uni...","Milton, Mass.","June 12, 1924","George,Jeb,Neil,Marvin,and Dorothy",NaN,...,NaN,NaN,five children,1,GEORGE,HERBERT WALKER,BUSH,NaN,NaN,NaN
1,97,../data/text/97.txt,"HOWELL THOMAS HEFLIN, Democrat, of Tuscumbia, ...",HOWELL THOMAS HEFLIN,Democrat,"Tuscumbia, Ala.",_21 son of Reverend MarvR. Hefl and Louise D...,"June 19, 19",NaN,NaN,...,NaN,NaN,19_21 son,2,HOWELL,THOMAS,HEFLIN,NaN,NaN,NaN
2,97,../data/text/97.txt,"JACK EDWARDS, Republican, of Mobile, Ala.; bor...",JACK EDWARDS,Republican,"Mobile, Ala.","Birmingham, Ala., Sep­ tember 20, 1928",NaN,NaN,NaN,...,NaN,NaN,NaN,3,JACK,NaN,EDWARDS,NaN,NaN,NaN
3,97,../data/text/97.txt,"WILLIAM WUIS DICKINSON, Republican, of Montgom...",WILLIAM WUIS DICKINSON,Republican,"Montgomery, Ala.","Ope­ lika, Ala.","June 5, 1925",NaN,NaN,...,NaN,NaN,four children,4,WILLIAM,WUIS,DICKINSON,NaN,NaN,NaN
4,97,../data/text/97.txt,"WILLIAM NICHOLS, Democrat, of Sylacauga, Ala.;...",WILLIAM NICHOLS,Democrat,"Sylacauga, Ala.","on a small farm near Becker, Miss.","October 16, 1918","M_emorie,Margaret,and Flynt",NaN,...,NaN,NaN,three children,5,WILLIAM,NaN,NICHOLS,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4162,104,../data/text/104.txt,"ENI F.H. FALEOMAVAEGA, Democrat, of Vailoatai ...",ENI F.H. FALEOMAVAEGA,Democrat,"Vailoatai Pago Pago, AS,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4163,ENI,F.H.,FALEOMAVAEGA,NaN,NaN,NaN
4163,104,../data/text/104.txt,"ELEANOR HOLMES NORTON, Democrat, of Washington...",ELEANOR HOLMES NORTON,Democrat,"Washington, DC bom in Wuhington. DC, June 13, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4164,ELEANOR,HOLMES,NORTON,NaN,NaN,NaN
4164,104,../data/text/104.txt,"ROBERT A. UNDERWOOD, Democrat, of Vona, GU; bo...",ROBERT A. UNDERWOOD,Democrat,"Vona, GU","Tamuning, Guam","July 13, 1948","Sophia,Ro­",NaN,...,NaN,NaN,five children,4165,ROBERT,A.,UNDERWOOD,NaN,NaN,NaN
4165,104,../data/text/104.txt,"CARLOS ROMERO-BARCELO, Democrat, of San Ju...",CARLOS ROMERO-BARCELO,Democrat,"of San Juan, Pueno Rico","on San Juan, Puerto Rico","September 4, 1932","Car­ los,Andres,Juan Carlos,and Melinda",NaN,...,NaN,NaN,four children,4166,CARLOS,NaN,ROMERO-BARCELO,NaN,NaN,NaN
4166,104,../data/text/104.txt,"VICTOR 0. FRAZER, Independent, of St. Thomas...",VICTOR 0. FRAZER,Independent,"of St. Thomas, Virgin Islands","Charlotte Amalie, St. Thomas, VI","May 24, 1943",NaN,NaN,...,NaN,NaN,NaN,4167,VICTOR,0.,FRAZER,NaN,NaN,NaN

In [12]:
ndf = df.children.apply(lambda c: split_children(c))
ndf

             0         1      2        3        4    5    6    7    8    9
0       George       Jeb   Neil   Marvin  Dorothy  NaN  NaN  NaN  NaN  NaN
1          NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
2          NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
3          NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
4     M_emorie  Margaret  Flynt      NaN      NaN  NaN  NaN  NaN  NaN  NaN
...        ...       ...    ...      ...      ...  ...  ...  ...  ...  ...
4162       NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
4163       NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
4164    Sophia       Ro­    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN
4165      Car­    Andres   Juan  Melinda      NaN  NaN  NaN  NaN  NaN  NaN
4166       NaN       NaN    NaN      NaN      NaN  NaN  NaN  NaN  NaN  NaN

[4167 rows x 10 columns]

In [13]:
cols = ['child_name%s' % col for col in ndf.columns]
ndf.columns = cols
ndf

,child_name0,child_name1,child_name2,child_name3,child_name4,child_name5,child_name6,child_name7,child_name8,child_name9
0,George,Jeb,Neil,Marvin,Dorothy,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M_emorie,Margaret,Flynt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4164,Sophia,Ro­,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4165,Car­,Andres,Juan,Melinda,NaN,NaN,NaN,NaN,NaN,NaN
4166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
odf = df.join(ndf)
odf

,congress,textfile,biography,name,party,location,born_in,birthdate,children,professional,...,child_name0,child_name1,child_name2,child_name3,child_name4,child_name5,child_name6,child_name7,child_name8,child_name9
0,97,../data/text/97.txt,"GEORGE HERBERT WALKER BUSH, Republican, of Hou...",GEORGE HERBERT WALKER BUSH,Republican,"Houston, Tex. 43d Vice President of the Uni...","Milton, Mass.","June 12, 1924","George,Jeb,Neil,Marvin,and Dorothy",NaN,...,George,Jeb,Neil,Marvin,Dorothy,NaN,NaN,NaN,NaN,NaN
1,97,../data/text/97.txt,"HOWELL THOMAS HEFLIN, Democrat, of Tuscumbia, ...",HOWELL THOMAS HEFLIN,Democrat,"Tuscumbia, Ala.",_21 son of Reverend MarvR. Hefl and Louise D...,"June 19, 19",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,97,../data/text/97.txt,"JACK EDWARDS, Republican, of Mobile, Ala.; bor...",JACK EDWARDS,Republican,"Mobile, Ala.","Birmingham, Ala., Sep­ tember 20, 1928",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,97,../data/text/97.txt,"WILLIAM WUIS DICKINSON, Republican, of Montgom...",WILLIAM WUIS DICKINSON,Republican,"Montgomery, Ala.","Ope­ lika, Ala.","June 5, 1925",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,97,../data/text/97.txt,"WILLIAM NICHOLS, Democrat, of Sylacauga, Ala.;...",WILLIAM NICHOLS,Democrat,"Sylacauga, Ala.","on a small farm near Becker, Miss.","October 16, 1918","M_emorie,Margaret,and Flynt",NaN,...,M_emorie,Margaret,Flynt,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4162,104,../data/text/104.txt,"ENI F.H. FALEOMAVAEGA, Democrat, of Vailoatai ...",ENI F.H. FALEOMAVAEGA,Democrat,"Vailoatai Pago Pago, AS,",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4163,104,../data/text/104.txt,"ELEANOR HOLMES NORTON, Democrat, of Washington...",ELEANOR HOLMES NORTON,Democrat,"Washington, DC bom in Wuhington. DC, June 13, ...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4164,104,../data/text/104.txt,"ROBERT A. UNDERWOOD, Democrat, of Vona, GU; bo...",ROBERT A. UNDERWOOD,Democrat,"Vona, GU","Tamuning, Guam","July 13, 1948","Sophia,Ro­",NaN,...,Sophia,Ro­,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4165,104,../data/text/104.txt,"CARLOS ROMERO-BARCELO, Democrat, of San Ju...",CARLOS ROMERO-BARCELO,Democrat,"of San Juan, Pueno Rico","on San Juan, Puerto Rico","September 4, 1932","Car­ los,Andres,Juan Carlos,and Melinda",NaN,...,Car­,Andres,Juan,Melinda,NaN,NaN,NaN,NaN,NaN,NaN
4166,104,../data/text/104.txt,"VICTOR 0. FRAZER, Independent, of St. Thomas...",VICTOR 0. FRAZER,Independent,"of St. Thomas, Virgin Islands","Charlotte Amalie, St. Thomas, VI","May 24, 1943",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
odf.to_csv('../data/biocong-text-all-cleaned-parse-name+children.csv', index=False)